//
   Created by ksh on 1/12/15.

extends /layout/layout
block content
  style.
    .row {
      width: 100%;
      margin-top: 50px;
      margin-bottom: auto;
      height:35px;
    }
    .col-1 {
      width: 10%
    }
    .col-4 {
      width: 25%
    }
    .header {
      background-color: rgb(226, 226, 226);
      font-size: 20px;
      height: 40px;
    }

  table
    tbody
      tr.row
        th.header.col-1 Name
        th.header.col-1 Domain
        th.header.col-4 Address
        th.header.col-1 Reseller
        th.header.col-1 S.tatus
      each company in result
        tr.row
          th.col-1=company.name
          th.col-1=company.domain
          th.col-4=company.address
          th.col-1=company.reseller
          th.col-1=company.status
