div(class="row")
  section(role="header" class="account-list__header")
    div(class="large-8 large-offset-1 columns")
      h3(class="account-list__header__title") account information
div(class="row")
  div(class="large-8 large-offset-1 columns")
    div(class="row")
      div(class="large-12 columns")
        p created at {{account.data.createdAt}}
    form(class="editform" method="POST" action="#")
      div(class="row")
        div(class="large-6 columns")
          label company
            select(ng-init="account.data.affiliatedCompany = '#{companies[0]._id}'" ng-model="account.data.affiliatedCompany")
              each company in companies
                option(value="#{company._id}") #{company.name}
        div(class="large-6 columns")
          label user group
            select(ng-init="account.data.assignedGroup = '#{groups[0]._id}'" ng-model="account.data.assignedGroup")
              each group in groups
                option(value="#{group._id}") #{group.name}
      div(class="row")
        div(class="large-6 columns")
          label first name
            input(type="text" name="firstname" ng-model="account.data.name.first")
        div(class="large-6 columns")
          label last name
            input(type="text" name="lastname" ng-model="account.data.name.last")
      div(class="row")
        div(class="large-6 columns")
          label email
            input(type="text" name="username" ng-model="account.data.username")
      hr
      div(class="row account-list__button-group")
        div(class="large-12 columns")
          a(role="button" ng-click="account.delete()" class="account-list__button-group__button button small secondary")
            i(class="account-list__button-group__button__icon fi-x")
            | discard
          a(role="button" ng-click="account.save()" class="account-list__button-group__button button small default")
            i(class="account-list__button-group__button__icon fi-save")
            | save
