mixin input(name, label, model)
  label(ng-class="{'error': (accountForm.#{name}.$submitted || accountForm.#{name}.$touched) && accountForm.#{name}.$error.required}")= label
    input(type="text" name=name placeholder=label ng-model=model required)
  small(class="error" ng-show="(accountForm.#{name}.$submitted || accountForm.#{name}.$touched) && accountForm.#{name}.$error.required") Invalid entry

form(method="POST" name="accountForm" action="#")
  h2(class="main-slider__title") Create user account
  div(class="main-slider__close-btn")
    a(ui-sref="accounts.index" class="button postfix")
      i(class="fi-x")
  div(class="row")
    div(class="large-6 columns")
      +input('firstname', 'First Name', 'account.data.name.first')
    div(class="large-6 columns")
      +input('lastname', 'Last Name', 'account.data.name.last')
  div(class="row")
    div(class="large-12 columns")
      +input('email', 'Email', 'account.data.username')
  hr
  div(class="row main-slider__user-group")
    div(class="large-12 columns")
      header(class="main-slider__user-group__header")
        div(class="row")
          div(class="large-8 columns")
            label
              h4(class="main-slider__sub-title") User group
          div(class="large-4 columns")
            a(class="button tiny right inline") Setting
      div()
        ul(class="main-slider__user-group__input-group")
          li(class="option")
            span(class="text-center" ng-click="account.toggleUserGroup('admin')" ng-class="{'selected' : account.data.assignedGroups.indexOf('admin') > -1}") Admin
          li(class="option")
            span(class="text-center" ng-click="account.toggleUserGroup('developer')" ng-class="{'selected' : account.data.assignedGroups.indexOf('developer') > -1}") Developer
          li(class="option")
            span(class="text-center" ng-click="account.toggleUserGroup('marketing')" ng-class="{'selected' : account.data.assignedGroups.indexOf('marketing') > -1}") Marketing
          li(class="option")
            span(class="text-center" ng-click="account.toggleUserGroup('engineer')" ng-class="{'selected' : account.data.assignedGroups.indexOf('engineer') > -1}") Engineer
          li(class="option")
            span(class="text-center" ng-click="account.toggleUserGroup('cs')" ng-class="{'selected' : account.data.assignedGroups.indexOf('cs') > -1}") CS
  div(class="row")
    div(class="large-12 columns")
      a(ng-click="account.save()" class="button postfix") Create account
