doctype html
html(lang="#{lang||'en'}" ng-app="App")
  include ./meta
    block scripts
      script(src='/vendor/jquery/dist/jquery.min.js')
      script(src='/vendor/i18next/i18next.min.js')
      script(src='/vendor/csvToArray/csvToArray.v2.1.min.js')
      script(src='/vendor/angular/angular.min.js')
      script(src='/vendor/angular-translate/angular-translate.js')
      script(src='/vendor/angular-translate-loader-static-files/angular-translate-loader-static-files.min.js')
      script(src='/vendor/angular-ui-router/release/angular-ui-router.min.js')
      script(src='/vendor/angular-animate/angular-animate.min.js')
      script(src='/vendor/angular-messages/angular-messages.min.js')
      script(src='/vendor/angular-resource/angular-resource.min.js')
      script(src='/vendor/ng-file-upload/angular-file-upload-shim.min.js')
      script(src='/vendor/ng-file-upload/angular-file-upload.min.js')
      script(src='/vendor/angular-loading-bar/build/loading-bar.min.js')
      script(src='/javascript/application.js')
  head
    title= title

    <!-- Styles -->
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='/stylesheets/main.css')

    <!-- Scripts -->
  body(class="antialiased")
    div(class="inner-wrap full-height main")
      nav(role="main-nav" class="main-sidebar")
        div(class="main-sidebar__contents fixed vertical")
          a(class="item" ui-sref="dashboard.index" ui-sref-active="active")
            i(class="fi-web")
            label {{'dashboard.title' | translate}}
          a(class="item" ui-sref="app.companies.index" ui-sref-active="active")
            i(class="fi-home")
            label {{'company.title' | translate}}
          a(class="item" ui-sref="app.accounts.index" ui-sref-active="active")
            i(class="fi-torso")
            label {{'account.title' | translate}}
          a(class="item" ui-sref="app.endusers.index" ui-sref-active="active")
            i(class="fi-torsos-all")
            label {{'end_user.title' | translate}}
          a(class="item" ui-sref="app.topups.index" ui-sref-active="active")
            i(class="fi-dollar")
            label {{'top_up.title' | translate}}
          a(class="item" ui-sref="app.calls.index" ui-sref-active="active")
            i(class="fi-telephone")
            label {{'calls.title' | translate}}
          a(class="item" ui-sref="app.im.index" ui-sref-active="active")
            i(class="fi-comment")
            label {{'im.title' | translate}}
          a(class="item" ui-sref="app.store.index" ui-sref-active="active")
            i(class="fi-shopping-cart")
            label {{'store.title' | translate}}
          a(class="item" ui-sref="permissions" ui-sref-active="active" ng-hide="true")
            label {{'permissions.title' | translate}}
          a(class="item" ui-sref="voucher" ui-sref-active="active" ng-hide="true")
            i(class="fi-dollar-bill")
            label {{'voucher.title' | translate}}
          a(class="item" ui-sref="app.setting.index" ui-sref-active="active")
            i(class="fi-widget")
            label {{'setting.title' | translate}}
      section(role="main" class="main__main-section")
        div(ui-view="header" class="main__main-section__main-view__header")
          header(role="section-header" class="section-header")
            div(class="row")
              h4(class="section-header__title left") header title
              nav(class="section-header__nav-bar top-bar right" data-topbar role="navigation")
                section(class="top-bar-section")
                  ul(class="right")
                    li(class="section-header__nav-bar__additional")
                      div(ui-view="supplement")
                    li(class="divider")
                    li
                      a(class="section-header__nav-bar__icon-button")
                        i(class="fi-info")
                    li(class="divider")
                    li(class="active")
                      a report issues
                    li(class="divider")
                    li(class="has-dropdown not-click")
                      a(class="section-header__nav-bar__icon-button")
                        i(class="fi-thumbnails")
                      ul(class="dropdown")
                        each company in companies
                          li
                            a(href="/app#/carriers/#{company.carrierId}") #{company.name}
                    li(class="divider")
                    li(class="has-dropdown not-click")
                      a(href="#") hi, #{userName.first} #{userName.last}
                      ul(class="dropdown")
                        li
                          a(href="/logout") logout
        div(ui-view="contents" class="main__main-section__main-view__contents")
